// main.scss

// 1. Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/animations';
@import 'abstracts/optimization';

// 2. Vendors
@import 'vendors/bootstrap';

// 3. Base
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// 4. Layout
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navigation';

// 5. Components
@import 'components/buttons';
@import 'components/cards';
@import 'components/forms';
@import 'components/modals';
@import 'components/carrousel';

// 6. Pages
@import 'pages/home';
@import 'pages/objetivos';
@import 'pages/apps';
@import 'pages/servicios';
@import 'pages/unete';

// 7. Themes
@import 'themes/default';